<!-- Views/Shared/_Sidebar.cshtml -->
<div class="bg-light sidebar d-flex flex-column" style="height: 100vh;">
    <ul class="list-group flex-grow-1">
        <li class="list-group-item"><a href="/">Books</a></li>
        <li class="list-group-item"><a href="/Author">Authors</a></li>
    </ul>
</div>
